.auth-bg {
    background-image: url('../video/loading.gif');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-modal {
    background: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.auth-modal input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 6px;
}

.auth-modal button {
    background: cyan;
    border: none;
    padding: 0.5rem;
    color: black;
    border-radius: 6px;
    cursor: pointer;
}

.nav-link {
    color: #ccc;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: underline;
}
